@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #222629;
  background-color: #f6faff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --sidebar-active: #4690f6;
  --main-bg-color: #ecf3fe;
  --card-design-border: 0px;
  --card-design-background:#f5fafd ;
  --btn-background-color: #71c979;
}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  font-family: "Poppins", sans-serif !important;
}

.sidebar{
  width: 200px;
  height: 100vh;
  margin: 0px 10px;
}

.sidebar-links ul{
  list-style: none;
  padding: 0px;
  text-align: center;
}

.sidebar-links ul li{
  margin: 15px 0px;
  padding: 8px 6px;
}

.sidebar-links ul li.active{
  background-color: var(--sidebar-active);
  border-radius: 10px;
  color: #fff;
}
.sidebar-links ul li.active a{
  color: #fff;
}

.sidebar-links ul li a{
  color: rgb(0, 0, 0);
 text-decoration: none;
}
.main-container{
  width: 100%;
  background-color: var(--main-bg-color);
  padding: 15px;
}
.card-design{
  border: var(--card-design-border) !important;
  background-color: var(--card-design-background) !important;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}
.fs-7{
  font-size: 12px !important;
}
.flight-image{
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}
.btn-color{
  background-color: var(--btn-background-color) !important;
  color: #fff;
  border-color: var(--btn-background-color) !important;
}
.form-label{
  font-size: 12px !important;
  font-weight: 500 !important;
}
.form-control{
  border: 1px solid #ebebeb !important;
}
.form-control:focus{
  box-shadow: none !important;
}