:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #222629;
  background-color: #f6faff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sidebar{
  width: 200px;
  height: 100vh;
 background-color: #0073ff;
}

.sidebar-links ul{
  list-style: none;
}